<!DOCTYPE html>
<html>

<head>
	<title>BMI Rechner</title>

	<link rel="stylesheet" href="/css/style.css" type="text/css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

	<script src="/js/bmi.js"></script>
</head>

<body>
	<section class="wrapper">
		<h2>BMI Rechner <span class="badge badge-secondary" id="requestsCounter"></span></h2>

		<form>
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" placeholder="Namen eintragen" name="name">

			<div class="form-group">
				<label for="weightSelect">Gewicht (kg)</label>
				<select class="form-control" id="weightSelect" name="weight">
					<script>
						for(var i=150;i>=50;i--) {
							var option = document.createElement("option");
							option.textContent = i;
							document.getElementById("weightSelect").appendChild(option);
						}
						</script>
				</select>
			</div>

			<div class="form-group">
				<label for="heightSelect">Größe (m)</label>
				<select class="form-control" id="heightSelect" name="height">
					<script>
						for(var i=230;i>=120;i--) {
							var option = document.createElement("option");
							option.textContent = i;
							document.getElementById("heightSelect").appendChild(option);
						}
						</script>
				</select>
			</div>

			<div class="form-group">
				<label for="gender">Mann</label>
				<input type="radio" id="maleRadio" name="gender" onchange="calcBMI()" value="male" checked>
				<label for="gender">Frau</label>
				<input type="radio" id="femaleRadio" name="gender" onchange="calcBMI()" value="female">
			</div>

			<div id="error" class="alert alert-danger" role="alert">
				Bitte Namen ausfüllen!
			</div>
			
			<p id="yourBMI" name="bmi"></p>
			<p id="status"></p>

			<button type="button" onclick="calcBMI(); addBMI()" class="btn btn-primary">BMI berechnen</button>
		</form>

		<section class="statistics">
			<p id="averageBMI"></p>

			<table class="table">
				<thead>
					<tr>
						<th scope="col">Geschlecht</th>
						<th scope="col">Gewicht (kg)</th>
						<th scope="col">Größe (m)</th>
						<th scope="col">BMI</th>
					</tr>
				</thead>
				<tbody id="addToTable">
					<div id="helllllo"></div>
				</tbody>
			</table>
		</section>

		<script>
			document.getElementById("error").style.display = "none"
		</script>
	</section>
</body>

<script>
renderData();
function renderData() {
    if (!data.bmiInfo.length) return;
    
    for (var i = 0; i < data.bmiInfo.length; i++) {
        var value = data.bmiInfo[i];

        var addToTable = document.getElementById("addToTable");
        var tableRow = document.createElement("tr");

        var genderToAdd = document.createElement("td");
        genderToAdd.innerHTML = value.gender;
		tableRow.appendChild(genderToAdd);
		
		var weightToAdd = document.createElement("td");
        weightToAdd.innerHTML = value.weight;
		tableRow.appendChild(weightToAdd);
		
		var heightToAdd = document.createElement("td");
        heightToAdd.innerHTML = value.height;
		tableRow.appendChild(heightToAdd);
		
		var BMIToAdd = document.createElement("td");
        BMIToAdd.innerHTML = value.bmi;
        tableRow.appendChild(BMIToAdd);

		addToTable.appendChild(tableRow);  
		document.getElementById("requestsCounter").innerHTML = document.getElementById("addToTable").childElementCount;
    }
}

</script>

</html>